In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('DataSet.csv')

In [4]:
df

     Name  Age
0  Pankaj   13
1    amol   12
2   rohan   56
3  vishal   25
4   vipul   58

In [5]:
from pyspark.sql import SparkSession

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

C:\Users\panka\Anaconda3\lib\site-packages\pyspark\context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [8]:
spark

In [9]:
df_spark = spark.read.csv('DataSet.csv')

In [10]:
df_spark

DataFrame[_c0: string, _c1: string]

In [18]:
df_spark = spark.read.option('header','true').csv('DataSet.csv')

In [22]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [23]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)